body {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    line-height: 30px;
}
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(248, 134, 4);
}
.right-side {
    margin-right: 20px;
}
.inside {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head-logo {
    width: 100%;
}
.logo {
    width: 50px;
    margin-left: 30px;
}
.Product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    align-items: center;
    column-gap: 30px;
}
.Product > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px #ADB4BF;
    border-radius: 7px;
    margin-bottom: 20px;
    padding: 10px;
}
.mini-pic {
    width: 50%;
    object-fit: contain;
    object-position: center;
    border-radius: 100%;
}
.menu {
    font-size: 30px ;
    color:  #ADB4BF;
    margin-bottom: 30px;
}
h2 {
    color: rgb(248, 134, 4);
}
.dext {
    text-align: center;
    color: rgb(248, 134, 4);
}
.text {
color: #ADB4BF;
line-height: 40px;
}
.light {
     color: rgb(248, 134, 4);
}
p {
    color: #ADB4BF;
    font-size: 28px;
}
@media (max-width:1250px) {
    .Product {
        grid-template-columns: 1fr;
    }
    .left-side {
        margin-left: -10px;
    }
    .right-side {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    .search-button {
        max-width: 120px;
    }
    p {
        font-size:20px ;
        line-height: 25px;
    }
    .sub-text {
         font-size:20px ;
        line-height: 25px;
    }
    .last {
        grid-template-columns: 1fr ;
    }
}
.search-button {
    height: 25px;
    padding-left: 5px ;
    width: 300px;
    border-radius: 10px;
}
.click {
text-decoration: none;
color: rgb(248, 134, 4);
}
.send-button {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    border: none;
}
.sub-text {
    color: #ADB4BF;
    font-size: 28px;
    line-height: 40px;
}
.link {
    font-size: 15px;
}
.last {
    display: grid;
    grid-template-columns: 1fr 1fr;
}